<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyTinyUrl</title>
</head>
<body>
<h2>MyTinyUrl</h2>

<form action="." method="POST">
{% csrf_token %}
    {{ form }}
    <input type="submit" value="Shorten the URL"/>
    {% if short_url %}
        <p><strong>Your shortened URL:</strong> {{ short_url }}</p>
    {% endif %}
</form>


</body>
</html>